.logo-nav {
  width: 40px;
}

#map {
  height: 91vh;
  width: 100vw;
}

#missions {
  position: absolute;
  z-index: 1;
}

.space {
  display: flex;
  justify-content: space-around;
}

.mission-item {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
}

.mission-text {
  color: #e2e4f5;
  margin-top: 12px;
  font-size: large;
}

#loading {
  padding-top: 30vh;
  display: flex;
  justify-content: space-around;
}